@import "tailwindcss";

@theme {
    --color-lb-primary: #0891b2;
    --color-lb-primary-dark: #0e7490;
    --color-lb-secondary: #059669;
    --color-lb-accent: #06b6d4;

    --font-family-display: 'Poppins', var(--font-family-sans);
}